<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
    <test name="Test1">
        <classes>
            <class name="tests.TestGetPerson"/>
            <class name="tests.TestPostPerson"/>
            <class name="tests.TestDeletePerson"/>
            <class name="tests.TestUpdatePerson"/>
        </classes>
    </test>
</suite>
